body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(97, 90, 114);;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: rgb(234, 227, 241);
  font-weight: 500;
  font-size: 290%;
}

h5{
  color: rgb(175, 143, 206);
  font-size: 180%;
  font-weight: lighter;
  
}

p{
  color: white;
}


.banner{
  height: 150px;
  background-color: rgb(76, 70, 90);
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 1px 20px rgb(187, 171, 195);
}

.name{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}

.name:hover{
  cursor: pointer;
}
.nav-card{
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  transition: all .11s ease-in 100ms;
}

.nav-card:hover{
  cursor: pointer;
  transform: scale(1.1);
}

h5:hover{
  color: rgb(202, 176, 227);
}

.bio{
  margin-top: 100px;
  box-shadow: 1px 1px 20px white;
  padding: 40px;
}

p{
  font-size: 140%;
}