body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: rgb(29, 28, 30);
  font-size: 290%;
  font-weight: lighter;
  transition: all .11s ease-in 100ms;
}


h5{
  color: rgb(29, 28, 30);
  font-size: 160%;
  font-weight: lighter;
  transition: all .11s ease-in 100ms;
}

p{
  color: white;
}


.banner{
  height: 150px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 1px 3px rgb(29, 28, 30);
  transition: all 1s ease-out 100ms;
}

.banner:hover{
  background-color: rgb(221, 220, 220);
}
.name{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  padding: 15px;
  transition: all .13s ease-out 100ms;
}

.name:hover{
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 1px rgb(63, 60, 60);
  background-color: rgb(241, 241, 241);
  transform: scale(1.1);
}
.nav-card{
  margin-top: auto;
  margin-bottom: auto;
  transition: all .13s ease-in 100ms;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-card:hover{
  border-radius: 8px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 3px 3px 1px rgb(63, 60, 60);
  background-color: rgb(255, 255, 255);
}



.bio{
  margin-top: 100px;
  box-shadow: 1px 1px 2px rgb(70, 70, 70);
  padding: 40px;
  transition: all .11s ease-in 100ms;
  width: 50%;
}

.proj{
  margin-bottom: 60px;
  margin-top: 40px;
  box-shadow: 1px 1px 3px rgb(54, 53, 53);
  padding: 40px;
  transition: all .3s ease-in 100ms;
  width: 40%;
}

.proj:hover{
  transform: scale(1.1);
  box-shadow: 15px 15px 1px rgb(63, 60, 60);
  cursor: pointer;
  border: 1px solid rgb(160, 157, 157);
}

.bio:hover{
  transform: scale(1.1);
  box-shadow: 15px 15px 1px rgb(63, 60, 60);
  border: 1px solid rgb(128, 126, 126);
}
p{
  font-size: 110%;
  color: rgb(29, 28, 30);
}

.projects{
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 250%;
}

.resume{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  transition: all .11s ease-in 100ms;
}

.resume:hover{
  transform: scale(1.1);
  box-shadow: 15px 15px 1px rgb(63, 60, 60);
}

#github:hover{
  background-color: rgb(154, 151, 151);
}

#linkedin:hover{
  background-color: rgb(54, 133, 202);
}

#github:hover h5{
  color: white;
}

#linkedin:hover h5{
  color: white;
}