body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: rgb(29, 28, 30);
  font-size: 290%;
  font-weight: lighter;
  transition: all .11s ease-in 100ms;
}


h5{
  color: rgb(29, 28, 30);
  font-size: 160%;
  font-weight: lighter;
  transition: all .11s ease-in 100ms;
}

h2 {
  font-size: 140%;
}


.banner{
  height: 150px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* box-shadow: 0px 1px 3px rgb(29, 28, 30); */
  transition: all 1s ease-out 100ms;
}

.banner:hover{
  background-color: rgb(232, 231, 231);
}
.name{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  transition: all .3s ease-out 100ms;
}

.name:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(96, 91, 91);
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}
.nav-card{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  transition: all .3s ease-out 100ms;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.nav-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 3px 3px 2px rgb(96, 91, 91);
  background-color: rgb(255, 255, 255);
}



.bio{
  margin-top: 100px;
  box-shadow: 1px 1px 2px rgb(96, 91, 91);
  padding: 40px;
  transition: all .2s ease-in 100ms;
  width: 35%;
  border-radius: 20px;
}

.proj{
  margin-bottom: 60px;
  margin-top: 40px;
  box-shadow: 1px 1px 3px rgb(96, 91, 91);
  padding: 40px;
  transition: all .20s ease-in 100ms;
  width: 35%;
  border-radius: 20px;
}

.proj:hover{
  transform: scale(1.1);
  box-shadow: 15px 15px 1px rgb(96, 91, 91);
  cursor: pointer;
  border: 1px solid rgb(160, 157, 157);
}

.bio:hover{
  transform: scale(1.1);
  box-shadow: 15px 15px 1px rgb(96, 91, 91);
  border: 1px solid rgb(128, 126, 126);
}
p{
  font-size: 100%;
  color: rgb(29, 28, 30);
}

.projects{
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 250%;
}

.resume{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  transition: all .11s ease-in 100ms;
}

.resume:hover{
  transform: scale(1.1);
  box-shadow: 15px 15px 1px rgb(96, 91, 91);
}

#github:hover{
  background-color: rgb(154, 151, 151);
}

#linkedin:hover{
  background-color: rgb(54, 133, 202);
}

#github:hover h5{
  color: white;
}

#linkedin:hover h5{
  color: white;
}

.contact-name{
  border: 1px solid rgb(41, 40, 40);
}

.contact-name:hover{
  box-shadow: 7px 7px 1px rgb(96, 91, 91);
}

.sub{
  border: 1px solid rgb(142, 141, 141);
}

.sub:hover{
  box-shadow: 7px 7px 1px rgb(96, 91, 91);
}
.contact-section{
  display: flex;
}

.contact-me{
  margin-top: 100px;
  box-shadow: 1px 1px 2px rgb(96, 91, 91);
  padding: 40px;
  transition: all .2s ease-in 100ms;
  width: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.contact-me:hover{
  transform: scale(1.1);
  box-shadow: 15px 15px 1px rgb(96, 91, 91);
  border: 1px solid rgb(128, 126, 126);
}



.res-box{
  display: flex;
  flex-direction: column;
}

.res-link{
  text-align: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

@media only screen and (max-width: 858px) {
  .banner{
    flex-direction: column;
    height: auto;
  }

  .bio{
    width: 90%;
  }

  .resume{
    transform: scale(.9);
    left: 0px;
  }
  .res-box{
    flex-direction: column;
  }

  .contact-me{
    width: 80%;
  }
  .proj{
    width: 80%;
  }
  .name{
    margin-top: 10px;
  }

  .nav-card{
    margin-top: 10px;
  }
}